@import "../../../assets/scss/app";

.section-signup {
  margin-top: 15px;

  @media screen and (min-width: $screen-sm) {

  }
}

.form-control {
  max-width: 300px;
}

.btn {
  width: 148px;

  @media screen and (max-width: 330px) {
    width: calc(50% - 2px);
  }
}

.has-error {
  border-color: $brand-danger;
}

.help-block {
  font-size: 12px;
  margin-left: 2px;
  color: $brand-danger;
  max-width: 250px;
}


.form-label {
  border-bottom: 1px solid #e7e7e7;
  display: block;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.form-label-description {
  font-size: 11px;
  @extend .text-muted;
}

.form-item:not(:last-of-type) {
  margin-bottom: 15px;
}

.form-fields {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 15px;
}

.form-required {
  color: $brand-danger;
}

.form-descriptor {
  @extend .text-muted;
  font-size: 11px;
}

.form-introduction {
  margin-bottom: 15px;

  a {
    color: $color-primary;
  }
}

input {

  &.ng-touched.ng-dirty.ng-valid {
    border: 1px solid $brand-success;
  }

}

.form-disclaimer {
  font-size: 11px;
  @extend .text-muted;
  margin-bottom: 15px;
}
