<app-nav></app-nav>

<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page__heading">
                    Sign up for Hacker News
                </h1>
                <p class="page__paragraph">
                    Signing up as a user gives you access to member retricted features. Members can post stories, engage in discussions with the community and much more.
                    <a routerLink="/login">Already signed up? Click here to go to the login page</a>.
                </p>
                <form (ngSubmit)="signUp()" #signUpForm="ngForm" autocomplete="off" role="presentation">
                    <div class="page__form">
                        <div class="form__divider">
                            Email
                            <span class="form__required">*</span>
                        </div>
                        <div class="form__group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="form__input-description">
                                        You will be using this e-mail address to login to your account on this website. Your e-mail address will not be publicly visible.
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <input [(ngModel)]="signUpUser.email"
                                           #email="ngModel"
                                           name="email"
                                           required="required"
                                           type="email"
                                           class="form__input"
                                           placeholder="john.doe@example.com"
                                           autocomplete="off"
                                           autofocus
                                           pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'/>
                                    <div *ngIf="email.invalid && email.dirty && email.touched"
                                         class="form__input-errors">
                                            <span *ngIf="email.errors.required" class="form__input-error">
                                                You must provide an email
                                            </span>
                                        <span *ngIf="email.errors.pattern" class="form__input-error">
                                                You must provide a valid email
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form__divider">
                            Alias
                            <span class="form__required">*</span>
                        </div>
                        <div class="form__group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="form__input-description">
                                        Your alias is your public identity. An alias must contain at least 6 characters, and can consist of any combination of letters and numbers.
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <input [(ngModel)]="signUpUser.alias"
                                           #alias="ngModel"
                                           name="alias"
                                           required="required"
                                           type="text"
                                           class="form__input"
                                           placeholder="JohnDoe42"
                                           minlength="3"
                                           autocomplete="off"
                                           pattern="^[a-zA-Z0-9]*$"/>
                                    <div *ngIf="alias.invalid && alias.dirty && alias.touched" class="form__input-errors">
                                        <span *ngIf="alias.errors.required" class="form__input-error">
                                            You must provide an alias.
                                        </span>
                                        <span *ngIf="alias.errors.minlength" class="form__input-error">
                                            Your alias must be at least 3 characters long.
                                        </span>
                                        <span *ngIf="alias.errors.pattern" class="form__input-error">
                                            You alias must consist of only letters and numbers.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form__divider">
                            Password
                            <span class="form__required">*</span>
                        </div>
                        <div class="form__group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="form__input-description">
                                        Provide a password, that you will use to log in to with. Your password must consist of at least 6 characters.
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <input [(ngModel)]="signUpUser.password"
                                           #password="ngModel"
                                           name="password"
                                           required="required"
                                           type="password"
                                           class="form__input"
                                           placeholder="test1234"
                                           autocomplete="new-password"
                                           minlength="6"/>
                                    <div *ngIf="password.invalid && password.dirty && password.touched" class="form__input-errors">
                                        <span *ngIf="password.errors.required" class="form__input-error">
                                            You must provide an email
                                        </span>
                                        <span *ngIf="password.errors.minlength" class="form__input-error">
                                            Your password must be at least 6 characters long.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form__disclaimer">
                            By clicking Sign Up you agree to our <a href="#">Terms of Service</a>, and that you have read our <a href="#">Data and Cookie Policy</a>.
                        </div>
                        <div class="form__submit">
                            <button class="form__button" type="submit" [disabled]="loading || !signUpForm.form.valid">Sign in</button>
                        </div>
                        <div class="form__notice">
                            Fields marked with
                            <span class="form__required">*</span>
                            are required fields
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
