//$color-primary: rgb(255, 102, 0);
//$color-primary-dark: darken(rgb(255, 102, 0), 5%);
$color-primary: darken(#663399, 15%);
$color-primary-dark: darken(#663399, 15%);
$color-white: darken(white, 10%);
$color-secondary: #00aeff;
