@import "colors";

$brand-primary: $color-primary;

$font-size-h1: 26px;
$font-size-h2: 22px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-size-h6: 12px;
$headings-font-weight: 600;

$font-family-base: "Roboto", Helvetica, Arial, sans-serif;

$navbar-inverse-border: 0px;

$link-color: $color-primary;
$text-color: $color-white;
$link-hover-decoration: none;
$border-radius-base: 0;
