body {
    background-color: #002752;
    background-image: url('../../assets/images/test.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.glass {
    background-image: url('../../assets/images/testblur.jpg');
}
