<app-nav></app-nav>

<div class="section-post">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="page-header">
                    <h1 *ngIf="post.url"><a href="{{post.url}}" target="_blank">{{post.title}}</a></h1>
                    <h1 *ngIf="post.content"><a [routerLink]="['/post', post.slug]">{{post.title}}</a></h1>
                    <ul class="post-meta">
                        <li class="post-meta-item">
                            <span class="karma">{{post.karma}}</span> <i class="fa fa-diamond"></i>
                        </li>
                        <li class="post-meta-item">
                            Posted by <span class="author">{{post.author.alias}}</span>
                        </li>
                        <li class="post-meta-item">
                            {{post.created_at | amUtc | amTimeAgo}}
                        </li>
                    </ul>
                </div>

                <div *ngIf="post.content" class="post-content">
                    {{post.content}}
                </div>

                <div class="page-header">
                    <h3>Comments ({{comments ? comments.length : 0}})</h3>
                </div>


                <form (ngSubmit)="onSubmit()" #postCommentForm="ngForm" class="form-content">
                    <div class="form-fields">
                        <div class="form-item">
                            <div>
                                <textarea rows="4" cols="50" [(ngModel)]="commentField.content" #content="ngModel" name="content" id="content" required autocomplete="off"></textarea>
                            </div>
                        </div>
                        <div *ngIf="error !== null" class="alert alert-danger">
                            {{error}}
                        </div>
                        <div>
                            <button type="submit" class="btn btn-secondary">
                                <span *ngIf="!loading">Post comment</span>
                                <span *ngIf="loading"><i class="fa fa-fw fa-refresh fa-spin"></i></span>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="comments">
                    <span class="text-muted">There are no comments for this post</span>
                </div>

            </div>
        </div>
    </div>
</div>
