@import '../../../assets/scss/app';

ul.post-meta {
    font-size: 13px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    li.post-meta-item {
        display: inline-block;

        i.fa {
            color: $color-secondary;
        }

        .karma, .author {
            font-weight: 700;
        }

        &:not(:last-of-type):after {
            content: "|";
            color: #c7c7c7;
        }

    }
}
