.form {

    &__divider {
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(255,255,255,.05);
        font-weight: 600;
    }

    &__group {
        margin-bottom: 15px;
    }

    &__input {
        @extend .form-control;
        background-color: rgba(255,255,255,.05);
        border: 1px solid rgba(255,255,255,.3);
        color: white;

        &--textarea {
            min-height: 70px;
            resize: vertical;
        }
    }

    &__input-description {
        font-size: 11px;
    }

    &__required {
        color: $brand-danger;
    }

}
