<app-nav></app-nav>

<div class="section-posts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="posts" class="posts">
                    <div class="post" *ngFor="let post of posts;">
                        <h3>
                            <a *ngIf="post.url" href="{{post.url}}" target="_blank">{{post.title}}</a>
                            <a *ngIf="post.content" [routerLink]="['/hackerpost', post.slug]">{{post.title}}</a>
                            <small *ngIf="post.domain" class="text-muted">({{post.domain}})</small>
                        </h3>
                        <ul class="post-meta">
                            <li class="post-meta-item">
                                <span class="karma">{{post.karma}}</span> <i class="fa fa-diamond"></i>
                            </li>
                            <li class="post-meta-item" (click)="upvotePost(post)">
                                <span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
                            </li>
                            <li class="post-meta-item" (click)="downvotePost(post)">
                                <span><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                            </li>
                            <li class="post-meta-item">
                                Posted by <span class="author">{{post.author.alias}}</span>
                            </li>
                            <li class="post-meta-item">
                                {{post.created_at | amUtc | amTimeAgo}}
                            </li>
                            <li class="post-meta-item">
                                <a [routerLink]="['/hackerpost', post.slug]">Go to discussion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
