@import '../../../assets/scss/app';

.section-posts {
    padding-bottom: 15px;
}

#error-element {
    display: none;
    opacity: 0;
}

.error-message {
    text-align: center;
    padding-top: 10px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    color: #a94442;
}

.post {
    padding-bottom: 20px;

    &:not(:last-of-type) {
        border-bottom: 1px solid rgba(255, 255, 255, .05);
    }

    ul.post-meta {
        font-size: 13px;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        li.post-meta-item {
            display: inline-block;

            .karma-icon {
                color: $color-secondary;
            }

            .karma, .author {
                font-weight: 700;
            }

            &:not(:last-of-type):after {
                content: "|";
                color: #c7c7c7;
            }

        }
    }

    small {
        margin-top: 8px;
        display: block;

        @media screen and (min-width: $screen-sm-min) {
            display: inline;
        }
    }
}

.post-meta-downvote, .post-meta-upvote {
    i.fa {
        color: gray;
        cursor: pointer;

        &.is-active {
            color: $color-secondary;
        }
    }
}
