<app-nav></app-nav>

<section id="error-element">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-message">
                    <p>{{errorCode}} | {{error}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section-posts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="posts" class="posts">
                    <div class="post" *ngFor="let post of posts; index as i;">
                        <h3>
                            <a *ngIf="post.url" href="{{post.url}}" target="_blank">{{post.title}}</a>
                            <a *ngIf="post.content" [routerLink]="['/posts', post.slug]">{{post.title}}</a>
                            <small *ngIf="post.domain" class="text-muted">({{post.domain}})</small>
                        </h3>
                        <ul class="post-meta">
                            <li class="post-meta-item">
                                <span class="karma">{{post.karma}}</span> <i class="fa fa-diamond karma-icon"></i>
                            </li>
                            <li class="post-meta-item" (click)="upvotePost(i, $event)">
                                <span class="post-meta-upvote">
                                    <i class="fa fa-arrow-up" [ngClass]="{'is-active': post.my_vote == 1}"
                                       aria-hidden="true"></i>
                                </span>
                            </li>
                            <li class="post-meta-item" (click)="downvotePost(i, $event)">
                                <span class="post-meta-downvote">
                                    <i class="fa fa-arrow-down" [ngClass]="{'is-active': post.my_vote == -1}"
                                       aria-hidden="true"></i>
                                </span>
                            </li>
                            <li class="post-meta-item">
                                Posted by <span class="author">{{post.author.alias}}</span>
                            </li>
                            <li class="post-meta-item">
                                {{post.created_at | amUtc | amTimeAgo}}
                            </li>
                            <li class="post-meta-item">
                                <a [routerLink]="['/posts', post.slug]">Go to discussion</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="loading">
                    <div class="preloader">
                        <div class="preloader__loader">
                            <svg class="preloader__circle" viewBox="25 25 50 50">
                                <circle class="preloader__path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                        stroke-miterlimit="10"/>
                            </svg>
                        </div>
                        <h5 class="preloader__label">Fetching posts</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
