<div class="glass">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a class="header__brand" routerLink="/">
                        <img src="assets/images/hackernews-logo-xs.png" class="header__logo">
                        <img src="assets/images/hackernews-logo-mobile.png" class="header__logo header__logo--mobile">
                    </a>
                    <div class="header__user-info">

                        <div class="user-info__alias" *ngIf="user">
                            <i class="fa fa-user"></i>
                            <span class="user-info__prop">{{user.alias}}</span>
                        </div>

                        <div class="user-info__karma" *ngIf="user">
                            <i class="fa fa-trophy"></i>
                            <span class="user-info__prop">{{user.karma}}</span>
                        </div>

                        <div class="user-info__logout" *ngIf="user">
                            <i class="fa fa-sign-out"></i>
                            <a class="user-info__link" (click)="logout()">Sign out</a>
                        </div>

                        <div class="user-info__logout-mobile" *ngIf="user">
                            <a class="user-info__link" (click)="logout()">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </div>

                        <div class="user-info__logout" *ngIf="!user">
                            <i class="fa fa-sign-out"></i>
                            <a class="user-info__link" routerLink="/login">Sign in</a>
                        </div>

                        <div class="user-info__logout-mobile" *ngIf="!user">
                            <a class="user-info__link" routerLink="/login">
                                <i class="fa fa-sign-in"></i>
                            </a>
                        </div>

                        <div class="user-info__logout" *ngIf="!user">
                            <i class="fa fa-user-plus"></i>
                            <a class="user-info__link" routerLink="/sign-up">Sign up</a>
                        </div>

                        <div class="user-info__logout-mobile" *ngIf="!user">
                            <a class="user-info__link" routerLink="/sign-up">
                                <i class="fa fa-user-plus"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="navigation__menu">
                        <li class="navigation__item">
                            <a class="navigation__link" routerLink="/" routerLinkActive="navigation__link--active"
                               [routerLinkActiveOptions]="{exact: true}">Home</a>
                        </li>
                        <li class="navigation__item">
                            <a class="navigation__link" routerLink="/create" *ngIf="user"
                               routerLinkActive="navigation__link--active">Submit Post</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
