@import '../../../assets/scss/colors';

.section-nav {

  .navbar-brand {
    font-weight: 600;
  }

  .navbar-text {
  }

  .user-alias {
    margin-right: 15px;
  }

  .user-karma {
    font-weight: 700;

    i.fa {
      margin-left: 8px;
      color: #BF55EC;
    }
  }
}
