h1 {
    color: #8e58ad;
}

#error-element {
    display: none;
    opacity: 0;
}

.error-message {
    text-align: center;
    padding-top: 10px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    color: #a94442;
}

.post-error-message {
    margin-top: 5px;
    color: #a94442;
}

#success-element {
    display: none;
    opacity: 0;
}

.success-message {
    text-align: center;
    padding-top: 10px;
    background-color: #c5f2c2;
    border: 1px solid #7db88c;
    border-radius: 4px;
    color: #42a96a;
}

.input, .text {
    display: block;
    width: 300px;
    margin: 5px;
    margin-left: 0px;
    padding-left: 5px;
}


.button {
    margin-top: 5px;
    margin-right: 5px;
}

.btn-default {
    color: #8e58ad;
    background-color: #fff;
    border-color: #8044a3;
    transition: .2s all ease;
}

.btn-default:hover {
    color: white;
    background-color: #6a467e;
}

.btn-danger {
    color: #fff;
    background-color: #8e58ad;
    border-color: #8e58ad;
    transition: .2s all ease;
}

.btn-danger:hover {
    background-color: #6a467e;
}